<div ng-controller="myWTObjectsCtrl" id="my-WT-object">
    <form>
        <div class="params-Information">
            <label>
                编号:<input type="text" ng-model="search.number">
            </label>
        </div>
        <div class="params-Information">
            <label>
                名称:<input type="text" ng-model="search.name">
            </label>
        </div>
        <div class="params-Information">
            <b>类型:</b>
            <label>
                <input type="checkbox" value="searchPart" ng-model="search.searchPart"
                       class="check-size"><span>部件</span>
            </label>
            <label>
                <input type="checkbox" value="searchDoc" ng-model="search.searchDoc" class="check-size"><span>图文档</span>
            </label>
        </div>
        <div class="form-btn">
            <button ng-click="searchObject()">搜索</button>
            <button type="reset" ng-click="revertSearch()">重置</button>
        </div>
    </form>
    <h4>搜索结果</h4>
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th class="col-sm-2" ng-bind="tableHead.number"></th>
            <th class="col-sm-2" ng-bind="tableHead.name"></th>
            <th class="col-sm-2" ng-bind="tableHead.modifytime"></th>
            <th class="col-sm-2" ng-bind="tableHead.container"></th>
            <th class="col-sm-2" ng-bind="tableHead.state"></th>
            <th class="col-sm-2" ng-bind="tableHead.version"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="items in tableBody" class="active">
            <th class="col-sm-2">
                <a href="{{items.objUrl}}" target="_blank" ng-bind="items.number"></a>
            </th>
            <th class="col-sm-2">
                <a href="{{items.objUrl}}" target="_blank" ng-bind="items.name"></a>
            </th>
            <th class="col-sm-2" ng-bind="items.modifytime"></th>
            <th class="col-sm-2" ng-bind="items.container"></th>
            <th class="col-sm-2" ng-bind="items.state"></th>
            <th class="col-sm-2" ng-bind="items.version"></th>
        </tr>
        </tbody>
    </table>
    <div class="footer">
        <button ng-click="pageIndex('pre')">上一页</button>
        <input ng-model="search.indexpage" type="number" min="1"
               onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
               onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
        <button ng-click="pageIndex('next')">下一页</button>
    </div>
</div>