<table class="table table-bordered table-hover" ng-controller="toDoTasksCtrl">
    <thead>
    <tr class="bg-info">
        <th class="col-sm-2" ng-bind="tableHead.workitemName"></th>
        <th class="col-sm-2" ng-bind="tableHead.themeName"></th>
        <th class="col-sm-2" ng-bind="tableHead.objectState"></th>
        <th class="col-sm-2" ng-bind="tableHead.objectContainer"></th>
        <th class="col-sm-2" ng-bind="tableHead.objectTime"></th>
        <th class="col-sm-2" ng-bind="tableHead.role"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="items in tableBody" class="active">
        <th class="col-sm-2">
            <a href="{{items.workitemUrl}}" target="_blank" ng-bind="items.workitemName"></a>
        </th>
        <th class="col-sm-2">
            <a href="{{items.objectUrl}}" target="_blank" ng-bind="items.themeName"></a>
        </th>
        <th class="col-sm-2" ng-bind="items.objectState"></th>
        <th class="col-sm-2" ng-bind="items.objectContainer"></th>
        <th class="col-sm-2" ng-bind="items.objectTime"></th>
        <th class="col-sm-2" ng-bind="items.role"></th>
    </tr>
    </tbody>
</table>