form.my-WT-object{
    padding:20px;
    font-size: 14px;
}
form.my-WT-object div.params-Information label{
    height:25px;
    line-height:25px;
    margin-bottom:15px;
    display: inline-block;
}
form.my-WT-object div.params-Information label input{
    margin-left:20px;
}
form.my-WT-object div.params-Information label input.check-size{
    zoom: 140%;
    margin:0 0 0 10px;
    vertical-align: middle;
}
form.my-WT-object div.params-Information label span{
    vertical-align: middle;
    margin-left: 5px;
}
form.my-WT-object div.params-Information b{
    vertical-align: middle;
}
form.my-WT-object div.form-btn{
    margin-left: 50px;
}
form.my-WT-object div.form-btn button:last-child{
    margin-left: 22px;
}